body{
  background-color: rgb(223, 223, 241);
  font-family: Arial, Helvetica, sans-serif;
  
}

#container {
  width: calc(100% - 40px);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#titre {
 color: #be7070;
 opacity: 0.4;
 font-size: 100px;
}

label{
  font-family: Comic Sans MS, Comic Sans, cursive;
  opacity: 0.7;
  font-size: 24px;
  position: relative;
  margin-top: -9px;
}

::placeholder{
font-family: Jazz LET, fantas,italic;
opacity: 0.3;
font-size: 25px;
margin-right: 50px;

}
#input{
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem;
  border-bottom-left-radius:.25rem;
  border-top:0;
  height: 45px;
  width: 510px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  font-family: Comic Sans MS, Comic Sans, cursive;
  opacity: 0.7;
  font-size: 24px;
}
.list-group-item{
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem;
  border-bottom-left-radius:.25rem;
  border-top:0;
  height: 50px;
  width: 510px;
  max-width: 1500px;
  margin-left: 0px;
  margin-right: auto;
}
#btn{
  width: 80px;
  margin-right:250px;
  position:fixed;
}
#pied{
  background-color:#ffffff;
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem;
  border-bottom-left-radius:.25rem;
  height: 35px;
  width: calc(100% - 40px);
  max-width: 1500px;

}
span{
 opacity: 0.4;
 font-family: monospace;
 margin-bottom: -9px;

}
.btn-group{
  height: 25px;
  margin-top: -12px;
  margin-left: 220px;
}


