<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8" \>
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap/css/index.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap/css/style.css" type="text/css" />
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <title>vuejs</title>
</head>



<body class="learn-bar">

    <div id="app">
        <section class="todoapp">
            <header class="header">
                <h1>todos</h1>
                <input 
                style="font-family: Comic Sans MS, Comic Sans, cursive;opacity: 0.7;" 
                class="new-todo" 
                v-model='NewTache' 
                @keyup.enter='addTache' type="text" placeholder="Que voulez vous faire?">
            </header>
            <section class="main">
                <ul class="todo-list">
                    <li class="new-todo" v-for='(tache,i) in task' :class ="{editing:tache === editing}">
                        <div class="view">
                            <label   
                            @dblclick="editTodo(tache)" 
                            v-if="tache.etat == true" 
                            style="text-decoration: line-through;opacity: 0.4" 
                            :id="'Mytache' + i" for="tache" @click="FinTache(tache, i)">{{tache.titre}}</label>
                            <label   @dblclick="editTodo(tache)" v-else :id="'Mytache' + i" for="tache" @click="FinTache(tache, i)">{{tache.titre}}</label>
                            <button type="button" class="destroy" aria-label="Close" @click='DeleteTache(i)'>
                        </div>
                        <input class="edit" type="text" v-model="tache.titre" @keyup.enter='doneEdit' >
                    </li>
                </ul>
                <footer class="footer" v-show ='Todopresent'>
                    <span class="todo-count" v-if="CompterTache">
                        <strong >{{ CompterTache }} </strong>
                        <span> </span>
                        <span>items</span>
                        <span>left</span>
                    </span>
                    <ul class="filters">
                        <li><a href="#"  @click.prevent="setTask('all')">All</a></li>
                        <li><a href="#"  @click.prevent="setTask('todo')">Active</a></li>
                        <li><a href="#"  @click.prevent="setTask('done')">Completed</a></li>
                    </ul>
                    <button type="button" v-show="doneTodo" class="clear-completed" @click.prevent='DeleteTacheFini'>clear Completed</button>
                </footer>
            </section>
        </section> 
        <footer class="info">
            <p>Double click pour editer</p>
            <p> "Créé par : "
                <a href="https://web.facebook.com/rebby.mundayi">MUNDAYI NKEBI Rebby</a>
            </p>     
        </footer>
    </div>






    <script>
        var app = new Vue({
            el: '#app',
            data: {
                taches: [
                    {
                        titre: 'ceci est ma tache par defaut',
                        etat: false
                    }
                ],
                tachesClones: [],
                filtre:'all',
                NewTache: '',
                allDone: false,
                editing:''
            },
            created() {
                this.loader()
            },
            mounted() {
                
            },

            methods: {
                // ajouter une tache
                addTache() {
                    if (this.NewTache) {
                        this.taches.push({
                            titre: this.NewTache,
                            etat: false
                        });
                        this.NewTache = '';
                    }
                    this.reload();
                },

                //supprimer une tache
                DeleteTache(i) {
                    this.taches.splice(i, 1);
                    this.reload();
                    //SPLICE modifie le contenu d'un tableau en retirant des éléments 
                },

                //Mettre fin à une tache
                FinTache(tache, i) {
                    if (tache.etat == true) {
                        document.getElementById("Mytache" + i).style.textDecoration = "line-through";
                        tache.etat = false;
                    }
                    else {
                        document.getElementById("Mytache" + i).style.textDecoration = "";
                        tache.etat = true;
                    }
                },

                //supprimer toute les taches finies 
                DeleteTacheFini() {
                    this.taches = this.taches.filter(x => x.etat == false);
                    this.reload();
                },
                //Editer une tache
                editTodo(item){
                    this.editing = item;
                },
                doneEdit(){
                    this.editing = '';
                },

                loader() {
                   // initialisation de task
                    this.task = [...this.taches]
                },
                reload() {
                    // changement d'etat de task
                    this.setTask(this.filtre)
                },
                setTask(params) {
                   this.filtre=params;
                    switch (params) {
                        case 'all':
                            this.task = [...this.taches];
                            console.log(this.task)
                            break;
                        case 'done':
                            this.task = this.taches.filter(x => x.etat == true);
                        break;
                        case 'todo':
                            this.task = this.taches.filter(x => x.etat == false);
                        break;
                    
                        default:
                        this.task = [...this.taches];

                            break;
                    }
                }

            },

            computed:{
                task:{
                    get: function () {
                        return this.tachesClones;
                    },
                    set: function (value) {

                        this.tachesClones = value
                    }
                },
                // compte le nombre de taches en cours 
                CompterTache(){
                    return this.taches.filter(x => x.etat == false).length;
                },

                // permet d'afficher le boutton "clear completed" seulement quand il ya des taches fini(rayer)
                doneTodo(){
                    return this.taches.filter(x => x.etat == true).length;
                },
                
                // si le nombre de taches est > 0 , affiche le nombre de taches
                Todopresent(){
                    return this.taches.length > 0 ;
                },     
                
            }



           
        
        });















    </script>

</body>

</html>